<div class="auth-container">

    <h2>Editar usuário</h2>
    <form action="/user/update" method="POST">

        <input type="hidden" name="id" value="{{user._id}}">

        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" value="{{user.name}}">
        </div>

        <div class="form-control">
            <input type="email" name="email" id="name" value="{{user.email}}" readonly>
        </div>

        <div class="form-control">
            <label for="phone">Telefone:</label>
            <input type="text" name="phone" id="phone" value="{{user.phone}}">
        </div>

        <div class="form-control">
            <label for="image">Imagem:</label>
            <iframe src="" title="W3Schools Free Online Web Tutorials">{{user.image}}</iframe>
        </div>

        <div>
            <input type="submit" value="Editar">
        </div>

    </form>
</div>